    <div class="dash">  

        <div class="card">
          <span class="lbl-title">Entrada</span>
          <span class="material-icons up">
            expand_less
          </span>
          <span class="lbl-description">R$ 000,00</span>
          <span class="lbl-title">Saida</span>
          <span class="material-icons down">
            keyboard_arrow_down
            </span>
          <span class="lbl-description">R$ 000,00</span>
          
        </div>
<mat-divider></mat-divider>
        
    </div>
