<div class="table-cadastro">
  <label for="nome" class="lbl">Nome:</label>
  <input type="text" class="input" name="nome" [(ngModel)]="nome"/>
</div>
<div>
  <label for="saldo" class="lbl">Saldo:</label>
  <input type="text" class="input" name="saldo" [(ngModel)]="saldo"/>
</div>
<div>
  <label for="ativo" class="lbl">Ativo:</label>
  <mat-radio-button class="margin" value="true" [(ngModel)]="ativo">Ativo</mat-radio-button>
  <mat-radio-button class="margin" value="false" [(ngModel)]="ativo">Inativo</mat-radio-button>

</div>
<button class="submenu" (click)="cadastrar()">Cadastrar</button>