<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="side-nav">
   <img src="../../../assets/images/logo1.png" width="200px">
  <br>
   
    <button mat-menu-item>
      <mat-icon>account_balance</mat-icon>
      <span>Banco</span>
    </button> 
 
  <br>

  <button mat-menu-item>
    <mat-icon>account_balance</mat-icon>
    <span>Banco</span>
  </button> 
  
  </mat-sidenav>
  <mat-sidenav-content class="side-content">
    Main content</mat-sidenav-content>
</mat-sidenav-container>