.dash {
  padding-top: 80px;
  background-color: #f1f1f1;
}
.table-dash {
  margin-left: 100px;
  margin-top: 50px;
  color: #ffffff;
}
.card1 {
  height: 100px;
  width: 200px;
  margin-left: 80px;
}
.card2 {
  height: 100px;
  width: 200px;
  margin-left: 80px;
}
.lbl-title {
  margin-left: 20px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  color: #4b4b4b;
}
.lbl-description {
  margin-left: 50px;
  margin-top: 50px;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  color: #4b4b4b;
}
.down, .red {
  color: rgb(255, 0, 0);
}
.up {
  color: rgb(33, 141, 0);
}
.col {
  margin-left: 10px;
}
table {
  width: 100%;
  margin-top: 16px;
}
